*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    font-size: 4.7vw;
    background-image: linear-gradient(to bottom, #5f0000, #280000);
}
header, header a{
    color: #fff;
    background-color: #333;
    text-decoration: none;
}
header{
    font-size: 0.5em;
    text-align: center;
    border-bottom: 0.2em solid #000;
}
header h1:hover, footer a:hover{
    color: rgb(164, 164, 164);
    transition: 0.1s;
}
header img{
    width: 3em;
    max-width: 5em;
    border: 0.12em solid #000;
    border-radius: 3px;
    filter: invert();
}
header img:hover{
    background-color: #67ffff;
    transition: 0.15s;
}
header h2{
    margin-bottom: 0.5em;
}
main{
    padding: 1.3em;
    font-size: 0.7em;
    color: white;
    text-align: center;
}
main form{
    margin-bottom: 2em;
}
form fieldset.flex{
    margin: auto;
    padding: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
form fieldset{
    padding: 20px;
}
form fieldset button, form fieldset input{
    border-radius: 6px;
}
form fieldset.flex div{
    display: flex;
    justify-content: space-between;
}
.align-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
main label{
    font-size: 0.7em;
}
main input{
    font-size: 0.7em;
    padding: 0px 12px;
    width: 10em;
}
main button{
    text-align: center;
    padding: 1px 4px;
    font-size: 0.5em;
    border-radius: 3px;
}
main button:hover{
    cursor: pointer;
    background-color: #888;
    color: white;
}
ul{
    list-style: none;
    padding: 0.5em;
}
.nowrap{
    white-space: nowrap;
}
li{
    padding: 0.2em;
    border: 0.08em solid #888;
    margin-bottom: 0.15em;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer, footer a{
    color: #fff;
    background-color: #000;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 740px) {
    body{
        font-size: 3em;
    }
}

@media screen and (max-width: 445px) {
    body{
        font-size: 10vw;
    }
}

@media screen and (max-width: 300px) {
    body{
        font-size: 1.5em;
    }
}